{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title></title>

<link rel="stylesheet" type="text/css" href="{% static 'sibigrapiapp/css/bootstrap.min.css' %}" />

</head>
<body>

<div class="container-fluid">
<div class="row">
	<div class="col-md-12">
		<nav class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
				 
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</button> <a class="navbar-brand" href="#">Laboratório de Computação Móvel e Ubíqua</a>
			</div>
			<div id="bs-example-navbar-collapse-1" class="navbar-collapse collapse in" aria-expanded="true" style="">
				<ul class="nav navbar-nav navbar-right">
                    <li >
                        <a href="{% url 'user_login' %}">Login</a>
                    </li>
                    <li >
	                    <a href="{% url 'sobre' %}">Sobre</a>
                    </li>
				</ul>
			</div>				
		</nav>



	<div class="row" id="formulario">
		<div class="col-lg-12">				
			{% if mensagem_erro %}
			<div class="bs-component">
				<div class="form-group">									
					<div class="alert alert-dismissible alert-success">
						<button class="close" type="button" data-dismiss="alert">x</button>
						<strong> {{ mensagem_erro }} </strong>
					</div>
				</div>
			</div>
			{% endif %}
			</div>
		</div>

	</div>
</div>
	<hr>
    <p > Copyright@ 2016 Instituto de Computação - Universidade Federal do Amazonas</p>
</div>

<script src="{% static 'sibigrapiapp/js/jquery.min.js' %}"></script>
<script src="{% static 'sibigrapiapp/js/bootstrap.min.js' %}"></script>
<script src="{% static 'sibigrapiapp/js/scripts.js' %}"></script>
</body>
</html>