{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="{% static 'sibigrapiapp/css/bootstrap.min.css' %}" />

  </head>
  <body>

    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
				<nav class="navbar navbar-default" role="navigation">
					<div class="navbar-header">
						 
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
						</button> <a class="navbar-brand" href="#">Laboratório de Computação Móvel e Ubíqua</a>
					</div>
					<div id="bs-example-navbar-collapse-1" class="navbar-collapse collapse in" aria-expanded="true" style="">
						<ul class="nav navbar-nav navbar-right">
	                        <li class="active" >
	                            <a href="#">Listagem</a>
	                        </li>
							{% if nro_tweet > 0 %}
	                        <li >
	                            <a href="{% url 'rotulagem' nro_tweet %}">Rotular</a>
	                        </li>
	                        {% endif%}
	                        
	                        <li>
	                            <a href="/logout/">Logout</a>
	                        </li>
						</ul>
					</div>				
				</nav>

			<legend>Listagem de tweets rotulados</legend>

			<div class="row" id="formulario">
				<div class="col-lg-12">
					{% if mensagem_erro %}
					<div class="bs-component">
						<div class="form-group">									
							<div class="alert alert-dismissible alert-warning">
								<button class="close" type="button" data-dismiss="alert">x</button>
								<strong> {{ mensagem_erro }} </strong>
							</div>
						</div>
					</div>
					{% endif %}
					<div class=" bs-component">
						
						<form class="form-horizontal" action = "" method = "post" id="search_form">
						{% csrf_token %}
							<fieldset>
								<div class="container-fluid">
									<div class="row">
										<div class="col-md-6 ">											
										<div class="form-group">
											<label class="control-label">Pesquisar pelo identificador do tweet</label>
							                <div class="input-group">
							                    <span class="input-group-addon">Id</span>
							                    <input class="form-control" type="text" name="id" onkeypress="return SomenteNumero(event)">
							                    <span class="input-group-btn">
							                      <button class="btn btn-default" type="submit">Pesquisar</button>
							                    </span>
							                </div>
						                </div>

						                </div>
									{% if nro_tweet < 1 %}
									<div class="col-md-2">
										
										<img class="img-thumbnail"alt="thais" src="{% static "sibigrapiapp/media/dilma-legal.jpg" %}" />
									</div>
									{% endif %}
						            </div>
					            </div>
							</fieldset>
						</form>

					

						<form class="form-horizontal" action = "" method = "post" id="filtro_form">
							{% csrf_token %}
							<fieldset>
								<div class="container-fluid">
									<div class="row">
										<div class="col-lg-12">
											<table class="table table-striped table-hover">
												<thead>
													<tr>
														<th>id</th>
														<th>descricao</th>													
														<th>rótulo</th>
														<th>data-hora</th>
														<th>autor</th>
														<th>editar</th>
													</tr>
												</thead>
												<tbody>
													{% for item in tweets %}
													<tr>
														<td>{{ item.nro_tweet  }}</td>
														<td>{{ item.descricao  }}</td>
														<td>{{ item.rotulo  }}</td>
														<td>{{ item.data_hora_tweet }}</td>
														<td>{{ item.autor  }}</td>
														<td><a href="{% url 'editar_rotulo' item.nro_tweet %}">
														<img class="img-thumbnail" alt="thais" src="{% static "sibigrapiapp/media/edit.png" %}" />
														</a></td>
													</tr>
													{% empty %}
													<tr>
														<td>-</td>
														<td>-</td>
														<td>-</td>
														<td>-</td>
														<td>-</td>
														<td>
														<img alt="thais" src="{% static "sibigrapiapp/media/edit.png" %}" />
														</td>
														
													</tr>
													{% endfor %}
												</tbody>
											</table>
										</div>								    				    
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>

		</div>
	</div>
		<hr>
	    <p > Copyright@ 2016 Instituto de Computação - Universidade Federal do Amazonas</p>
	</div>

    <script src="{% static 'sibigrapiapp/js/jquery.min.js' %}"></script>
    <script src="{% static 'sibigrapiapp/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'sibigrapiapp/js/scripts.js' %}"></script>
    <script src="{% static 'sibigrapiapp/js/funcoes.js' %}"></script>
  </body>
</html>