{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Home Page</title>

	<link rel="stylesheet" type="text/css" href="{% static 'sibigrapiapp/css/bootstrap.min.css' %}" />

  </head>
  <body>

    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					 
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button> <a class="navbar-brand" href="#">Laboratório de Computação Móvel e Ubíqua</a>
				</div>
				<div id="bs-example-navbar-collapse-1" class="navbar-collapse collapse in" aria-expanded="true" style="">
					<ul class="nav navbar-nav navbar-right">
                        <li class="active" >
                            <a href="#">Login</a>
                        </li>
                        <li >
                            <a href="{% url 'sobre' %}">Sobre</a>
                        </li>
					</ul>
				</div>				
			</nav>


		<div class="row" id="formulario">
			<div class="col-lg-12">
				<div class="well bs-component">
					<form action ="" method ="post" role="form">
					{% csrf_token %}
					<fieldset>
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-6">
								<p>Bem vindo(a) ao aplicativo de rotulação do grupo de pesquisa em Computação Móvel e Ubíqua da Universidade Federal do Amazonas. Através desse aplicativo é possível rotular dados presentes em bases de dados de forma colaborativa, facilitando assim, o processo cansativo de rotulação de dados.</p>							
								<legend>Informe os dados abaixo para acessar o aplicação:</legend>
								{% if mensagem_erro %}
								<div class="bs-component">
									<div class="form-group">									
										<div class="alert alert-dismissible alert-danger">
										  <button class="close" type="button" data-dismiss="alert">x</button>
										 <strong> {{ mensagem_erro }} </strong>
										 </div>
									</div>
								</div>
									{% endif %}
								<div class="form-group">
									<label class="col-lg-2 control-label">Login</label>
									<div class="col-lg-10">
										<input class="form-control" id="login" name="login" />
										<br>

									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-2 control-label">Senha</label>
									<div class="col-lg-10">
										<input class="form-control" id="senha" name="senha" type="password" />
										<br>
									</div>
								</div>
								<div class="form-group">
									<div class="col-lg-10 col-lg-offset-2">
										<button type="reset"class="btn btn-default">Cancelar</button>	
										<button type="submit"class="btn btn-primary">Login</button>	
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<img class="img-responsive"alt="colaborativo" src="{% static "sibigrapiapp/media/dilma_rousseff.jpg" %}" />
								</div>
							</div>
						</div>
					</div>
					</fieldset>
					</form>
				</div>
			</div>
		</div>

	</div>
	</div>
	<hr>
    <p > Copyright@ 2016 Instituto de Computação - Universidade Federal do Amazonas</p>
</div>

    <script src="{% static 'sibigrapiapp/js/jquery.min.js' %}"></script>
    <script src="{% static 'sibigrapiapp/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'sibigrapiapp/js/scripts.js' %}"></script>
  </body>
</html>