	{% load staticfiles %}

	<!DOCTYPE html>
	<html lang="en">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Sobre</title>
	<link rel="stylesheet" type="text/css" href="{% static 'sibigrapiapp/css/bootstrap.min.css' %}" />

	</head>
	<body>

	<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					 
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button> <a class="navbar-brand" href="#">Laboratório de Computação Móvel e Ubíqua</a>
				</div>
				<div id="bs-example-navbar-collapse-1" class="navbar-collapse collapse in" aria-expanded="true" style="">
					<ul class="nav navbar-nav navbar-right">
	                    <li >
	                        <a href="{% url 'user_login' %}">Login</a>
	                    </li>
	                    <li class="active" >
	                        <a href="#">Sobre</a>
	                    </li>
					</ul>
				</div>				
			</nav>



		<legend>Equipe de desenvolvimento:</legend>
		<div class="well bs-component">
				<div class="row">
			<div class="col-md-2">
				
				<img class="img-thumbnail"alt="thais" src="{% static "sibigrapiapp/media/thais.JPG" %}" />
			</div>
			<div class="col-md-8">
				<br>
				<dl>
					<dt>
						Nome
					</dt>
					<dd>
						Thais Gomes de Almeida
					</dd>
					<dt>
						Email
					</dt>
					<dd>
						tga@icomp.ufam.edu.br
					</dd>
					<dt>
						Universidade
					</dt>
					<dd>
						Universidade Federal do Amazonas
					</dd>
					<dt>
				</dl>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<img class="img-thumbnail" alt="bruno" src="{% static "sibigrapiapp/media/bruno.png" %}"/>
			</div>
			<div class="col-md-8">
			<br>
				<dl>
					<dt>
						Nome
					</dt>
					<dd>
						Bruno Ábia 
					</dd>
					<dt>
						Email
					</dt>
					<dd>
						bruno.abia@gmail.com
					</dd>
					<dt>
						Universidade
					</dt>
					<dd>
						Universidade Federal do Amazonas
					</dd>
				</dl>
			</div>
		</div>
	</div>

		</div>

	</div>
	<p > Copyright@ 2016 Instituto de Computação - Universidade Federal do Amazonas</p>
		    
	</div>

	<script src="{% static 'sibigrapiapp/js/jquery.min.js' %}"></script>
	<script src="{% static 'sibigrapiapp/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'sibigrapiapp/js/scripts.js' %}"></script>
	</body>
	</html>